/*Name: MUHAMMAD NUR SYAHMI DANIAL BIN MOHD NORHISAM
		Date: 29/6/2021*/
body{
	background-color: #2471A3;
	font-family: arial, verdana, sans-serif;
	margin-left: 20px;
}

h1{
	text-align: center;
	color: white;
}

#date{
	color: yellow;
	font-size: 20px;
}

div.question{
	background-color: #D0ECE7;
	border-radius: 5px;
	padding: 5px;
	margin: 10px;
}

input#yourName{
	width: 50%;
	height: 25px;
}

button{
	width: 150px;
	height: 30px;
}